<form class="comments" action="<%= comments_url %>" method="post">
   <textarea id="comment_contents" name="comment[contents]"></textarea>
   <input type="submit" value="Comment">
   <input type="hidden" name="comment[commentable_type]" value="<%= type %>">
   <input type="hidden" name="comment[commentable_id]" value="<%= target_id %>">
</form>