<ul class="notification-menu">
  <% current_user.notifications.menu.each do |notification| %>
  <li class="<%= notification.seen ? "notification seen" : "notification" %>"><!--
  --><%= link_to( 
      "<strong class=\"notification-instigator\">".html_safe +
      + notification.instigator.username + "</strong> ".html_safe +
      parse_notification(notification) + ".", 
      notification_url(notification),
      method: "patch") %><!--
 --></li>
  <% end %>
  <li>
    <%= link_to "View all notifications", notifications_url %>
  </li>
</ul>