<h1 class="notifications-index">All Notifications</h1>
<section class="all-notifications">
  <% current_user.notifications.each do |notification| %>
  <ul>
    <li class="<%= notification.seen ? "notification seen clearfix" : "notification clearfix" %>">
      <%= link_to(
          "<strong class=\"notification-instigator\">#{notification.instigator.username}".
          html_safe,
          user_url(notification.instigator)
        ) %></strong> <%= link_to(
          parse_notification(notification, true),
          notification_url(notification),
          method: "patch"
        ) %>
      <small class="time-stamp">
        <%= time_ago_in_words(notification.created_at) + " ago" %>
      </small>
      </li>
  </ul>
  <% end %>
</section>

