<h2>Resolute - the goal setting app</h2>

<h4>Our Users</h4>
<table>
   <thead>
      <tr>
         <% ["Username", "Joined On", "Goal Count", "Total Cheers"].each do |heading| %>
            <th><%= heading %></th>
         <% end %>
      </tr>
   </thead>
   <tbody>
      <% @users.each do |user| %>
      <tr>
         <td><%= link_to user.username, user_url(user) %></td>
         <td><%= user.created_at %></td>
         <td><%= user.goal_count %></td>
         <td>###</td>
      </tr>
      <% end %>
   </tbody>
</table>