$font-grey: rgb(38, 39, 46);
$hover-grey: rgb(150, 151, 158);
$logo-grey: rgb(189, 189, 189);
$light-grey: rgb(203, 203, 209);
$background: rgb(240, 240, 242);

$pink: rgb(189, 47, 80);
$blue: rgb(47, 92, 189);
$orange: rgb(189, 106, 47);
$green: rgb(47, 189, 85);