$font-grey: rgb(81, 82, 82);
$hover-grey: rgb(150, 151, 151);
$logo-grey: rgb(189, 189, 189);
$light-grey: rgb(203, 203, 203);
$lightest-grey: rgb(230, 230, 230);
$background: rgb(245, 245, 245);
$shadow-grey: rgba(150, 151, 151, 0.7);

$pink: rgb(255, 36, 236);
$light-pink: rgb(214, 115, 148);
$lightest-pink: rgb(219, 145, 167);
$purple: rgb(188, 85, 197);
$light-purple: rgb(194, 86, 203);
$lightest-purple: rgb(214, 139, 219);
$orange: rgb(255, 177, 83);
$light-orange: rgb(255, 192, 113);
$green: rgb(244, 254, 76);
$lighter-green: rgb(247, 255, 108);
$turquoise: rgb(0, 255, 191);
$light-turquoise: rgb(64, 255, 211);
$light-blue: rgb(104, 148, 255);
$lighter-blue: rgb(127, 167, 255);
