$font-grey: rgb(60, 61, 61);
$hover-grey: rgb(150, 151, 151);
$logo-grey: rgb(189, 189, 189);
$light-grey: rgb(203, 203, 203);
$lightest-grey: rgb(230, 230, 230);
$background: rgb(245, 245, 245);

$pink: rgb(214, 32, 75);
$blue: rgb(90, 32, 214);
$orange: rgb(214, 90, 32);
$green: rgb(32, 214, 32);

$light-orange: rgba(214, 90, 32, 0.2);
$light-green: rgba(32, 214, 32, 0.2);
$lighter-orange: rgba(214, 90, 32, 0.1);
$lighter-green: rgba(32, 214, 32, 0.1);