html, body, header, nav, ul, li, h1, h2, h3, 
h4, h5, h6, footer, article, section, form, 
label, input, textarea, div, table, thead, 
tbody, tr, th, td, a, button, p, strong, 
em, i, caption, figure {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: content-box;

   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   vertical-align: inherit;

   color: inherit;
   background: transparent;
}

table {
   border-collapse: collapse;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
textarea,
button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

ul {
   list-style: none;
}

button, input[type="submit"] {
   cursor: pointer;
}

.clearfix:after {
   padding: 0;
   content: "";
   display: block;
   clear: both;
}