.site-header-bar {
   width: 100%;
   min-width: calc(320px - 1.2rem);
   position: fixed;
   top: 0;
   z-index: 1;

   opacity: 0.9;
   background-color: white;

}

.site-header-bar > nav {
   padding-left: 0.6rem;
   padding-right: 0.6rem;
   max-width: 900px;
   margin: auto;
}

.site-header-bar a {
   display: block;
   font-family: $serif;
}

.logo i {
   font-size: 0.8em;
   color: $logo-grey;
}

.logo, .main-links {
   float: left;
}

.session-buttons, .user-info {
   float: right;
   display: flex;
   justify-content: space-between;
}

.main-links {
   display: flex;
}

.logo {
   margin: 0;
   padding: 0.75em 1.25em 0.75em 0;
   font-size: 1rem;
}

.logo strong:first-of-type {
   color: $light-blue;
}

.logo strong:nth-of-type(2) {
   color: $pink;
}

.logo strong:nth-of-type(3) {
   color: $green;
}

.logo strong:last-of-type {
   color: $turquoise;
}

.main-links a {
   padding: 0.75em 1.25em;
}

.user-info > li {
   padding: 0.75em 0 0.75em 2em;
}

.user-info > li:first-of-type {
   padding-left: 0.75em;
}

.hamburger {
   display: none;
   fill: $font-grey;
   z-index: 2;
}

.hamburger:hover .full-menu,
.hamburger:focus .full-menu {
      display: block;
}

.user-hover, .notifications-hover {
   position: relative;
}

.user-info i {
   font-size: 1.25em;
   vertical-align: middle;
}

.user-info .upvotes-left {
   vertical-align: middle;
   font-weight: 700;
}

.notifications-hover .notification-count {
   display: block;
   position: absolute;
   top: 0.5em;
   right: -0.7em;

   margin: 0;
   width: 1.7em;
   height: 1.7em;
   border-radius: 50%;
   
   font-size: 0.7em;
   font-weight: 700;
   line-height: 1.9;
   text-align: center;
   vertical-align: top;
   background-color: $pink;
   color: white;
}

.user-menu, .full-menu, .notification-menu {
   width: 8em;
   display: none;
   
   position: absolute;
   top: 3em;
   right: -0.75em;
   padding-bottom: 1em;
   
   text-align: right;
   flex-direction: column;
   align-items: stretch;
   line-height: 1;

   background-color: white;
   border-bottom-left-radius: 1.5em;
   border-bottom-right-radius: 1.5em;
}


.notification-menu {
   width: 16em;
   max-height: 60vh;
   overflow-y: auto;
}


.notification-menu .notification a {
   font-family: $sans-serif;
   font-weight: 400;
   font-size: 1.1em;
}

.notification-menu .notification.seen a {
   background-color: $light-grey;
}

.notification-menu .notification-instigator {
   font-weight: 700;
}

.user-menu a, .menu-upvotes, .full-menu a, .notification-menu a {
   padding: 0.5em 1em;
}

.menu-upvotes {
   display: none;
}

.user-hover:hover .user-menu, .notifications-hover:hover .notification-menu {
   display: flex;
}

/*--------------------- MEDIA QUERIES ------------------------*/

@media all and (min-width: $query-width-2) and (max-width: $query-width-1) {

   .menu-upvotes {
      display: inherit;
   }

}

@media all and (max-width: $query-width-2) {
   .user-hover, .main-links, .new-user-links {
      display: none;
   }

   .menu-upvotes {
      display: inherit;
   }

   .hamburger {
      display: block;
      position: relative;
      right: 0;
      padding: 0.6em 0 0.3em 1.25em;
   }

   .user-menu, .full-menu, .notification-menu {
      width: 90vw;
      font-size: 1.5rem;
      top: 2em;
   }

   .notification-menu {
      right: -3.75em;
   }


}