section.leaderboard {
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   padding-top: 3rem;
   padding-bottom: 3rem;

   background-color: $font-grey;
   text-align: center;
}

section.leaderboard > * {
   min-width: min-content;
   margin: 0 auto;
}

section.leaderboard > figure{
   width: calc(50% - 0.75rem - 0.45rem);
   display: inline-block;
   
}

section.leaderboard h3, section.leaderboard h4,
section.leaderboard caption {
   color: white;
}

section.leaderboard h4 {
   margin: 0.25em;
}

.users-leaderboard, .goals-leaderboard {
   margin: 0 auto;
}

.users-leaderboard i, .goals-leaderboard i {
   font-size: 1.25em;
   vertical-align: middle;
}

section.leaderboard th { padding: 0.5em 0.5em; }
section.leaderboard td { padding: 0.3em 0.5em; }

section.leaderbaord table tr:last-of-type td {
   padding-bottom: 0.5em;
}

/* ------------------COLOURS and SHADING------------------*/

.users-leaderboard thead {
   background-color: $green;
}

.goals-leaderboard thead {
   background-color: $turquoise;
}

.users-leaderboard tbody tr, .goals-leaderboard tbody tr {
   background-color: white;
}

.goals-leaderboard tbody tr:hover {
   background-color: $light-turquoise;
}

.users-leaderboard tbody tr:hover {
   background-color: $lighter-green;
}

/*------------------------QUERIES-----------------------*/

@media all and (min-width: $query-width-3) {
   section.leaderboard {
      padding: 5% calc((100% - 900px ) / 3);
   }
}

@media all and (max-width: 505px) {
   section.leaderboard th, section.leaderboard td {
      padding: 0.25em 0.3em;
   }

   section.leaderboard > figure {
      padding-left: 0;
      padding-right: 0;
      width: min-content;
   }

   section.leaderboard .mobile-hide { display: none; }
   
   section.leaderboard {
      font-size: 1rem;
      padding-left: 0;
      padding-right: 0;
      overflow-x: auto;
   }
}