section.leaderboard {
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 3rem;
   padding-bottom: 3rem;

   background-color: $font-grey;
   text-align: center;
}

section.leaderboard > * {
   min-width: 420px;
   width: 45%;
   margin: 0 auto;
}

section.leaderboard > figure{
   display: inline-block;
   padding-left: 0.3rem;
   padding-right: 0.3rem;
   
}

section.leaderboard h3, section.leaderboard h4,
section.leaderboard caption {
   color: white;
}

section.leaderboard h4 {
   margin: 0.25em;
}

.users-leaderboard, .goals-leaderboard {
   margin: 0 auto;
}

section.leaderboard th { padding: 0.5em 0.5em; }
section.leaderboard td { padding: 0.3em 0.5em; }

section.leaderbaord table tr:last-of-type td {
   padding-bottom: 0.5em;
}

/* ------------------COLOURS and SHADING------------------*/

.users-leaderboard thead {
   background-color: $green;
}

.goals-leaderboard thead {
   background-color: $turquoise;
}

.users-leaderboard tbody tr, .goals-leaderboard tbody tr {
   background-color: white;
}

.goals-leaderboard tbody tr:hover {
   background-color: $light-turquoise;
}

.users-leaderboard tbody tr:hover {
   background-color: $lighter-green;
}

@media all and (min-width: $query-width-3) {
   section.leaderboard {
      padding: 5% calc((100% - 900px ) / 3);
   }
}