section.leaderboard {
   padding: 5%;

   background-color: $font-grey;
   text-align: center;
}

section.leaderboard > * {
   min-width: 420px;
}

section.leaderboard > figure{
   display: inline-block;
   width: 45%;
   margin: 0 1rem;
}

section.leaderboard h3, section.leaderboard h4,
section.leaderboard caption {
   color: white;
}



.users-leaderboard, .goals-leaderboard {
   margin: 0 auto;
}

section.leaderboard th { padding: 0.5em 0.5em; }
section.leaderboard td { padding: 0.3em 0.5em; }

section.leaderbaord table tr:last-of-type td {
   padding-bottom: 0.5em;
}

/* ------------------COLOURS and SHADING------------------*/

.users-leaderboard thead {
   background-color: $orange;
}

.goals-leaderboard thead {
   background-color: $green;
}

.users-leaderboard tbody tr:nth-of-type(even) {
   background-color: $lighter-orange;
}

.goals-leaderboard tbody tr:nth-of-type(even) {
   background-color: $lighter-green;
}

.goals-leaderboard tbody tr:hover {
   background-color: $light-green;
}

.users-leaderboard tbody tr:hover {
   background-color: $light-orange;
}

@media all and (min-width: $query-width-3) {
   section.leaderboard {
      padding: 5% calc((100% - 900px ) / 3);
   }
}