/*
@media all and (max-width: $query-width-1) {
   th { padding: 0.8em 1em; }
   td { padding: 0.5em 1em; }

}

@media all and (max-width: $query-width-2) {
   th { padding: 0.5em 0.5em; }
   td { padding: 0.3em 0.5em; }
}*/