footer.site {
  flex-shrink: 0;
  min-width: 365px;
}

footer.site > * {
  display: inline-block;
}

footer.site > nav {
  width: 40%;
  min-width: 168px;
  margin-right: 0;
}

footer.site > small {
  width: max-content;  
  float: right;

  margin-left: 1.5rem;
  margin-top: 1.9rem;

  color: $logo-grey;
  
}

footer.site > nav > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  margin-bottom: 0.5rem;
}

footer.site > nav > div:last-of-type {
  margin-right: 0;
}

.footer-link-list > *, .footer-link-heading {
  margin-bottom: 0.6rem;
}

@media all and (max-width: 505px) { footer.site > small {float: none;} }

