.main-heading {
   padding-top: 10rem;
   padding-bottom: 10rem;
   background: 
      image-url('postit-4543989_1920.png') -40px -20px,
      linear-gradient(
         120deg,
         $logo-grey, $background
      );
   background-size: 125%, cover;
   color: white;
}

.main-heading > * {
   margin-bottom: 0.75rem;
   font-size: 2rem;
}

.main-heading h1 {
   font-size: 4.5rem;
   line-height: 1;
}

.unrecognised_user {

   position: relative;
   bottom: 13rem;
   margin-bottom: -10rem;

   border-radius: 3rem;
   max-width: calc(900px - 10rem);
   width: 95%;
   display: flex;

   text-align: center;
}

.unrecognised_user > div {
   width: 50%;
   padding: 2em 4em;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   box-sizing: border-box;
}

.unrecognised_user > div > p {
   margin: 1.5em 0;
}

.register input[type="submit"] {
   background-color: $pink;
}

.unrecognised_user .login input[type="submit"] {
   color: white;
   background-color: $light-blue;
}

.register {
   border-radius: 3rem 0rem 0rem 3rem;
   color: white;
   background-color: $light-blue;
}

.unrecognised_user .login {
   border-radius: 0rem 3rem 3rem 0rem;
   background-color: white;
}


@media all and (max-width: $query-width-1) {
   .unrecognised_user {
      flex-direction: column;
   }

   .unrecognised_user > div {
      width: 100%;
   }

   .unrecognised_user .register {
   border-radius: 3rem 3rem 0rem 0rem;
   color: white;
   background-color: $light-blue;
   }

   .unrecognised_user .login {
      border-radius: 0rem 0rem 3rem 3rem;
      background-color: white;
   }



}

@media all and (max-width: 505px) {
   .main-heading h1 { font-size: 3.75rem; }
   .main-heading p { font-size: 1.75rem; }
   .unrecognised_user > div { padding: 1.25em 1.25em;}
   .unrecognised_user > div > p { margin: 0.5em 0;}

}