.user-form { 
  background-color: $pink; 
  color: white; 
}

.user-form input[type="submit"] {
  background-color: $light-blue;
}
.user-form label { min-width: 21.3em; }

@media all and (max-width: 900px) {
  .user-form input[type="submit"] {
    display: block;
    margin: 0.5em 0 1em 7.8em;
  }
  
}

@media all and (max-width: 480px) { 
   .user-form label { 
      min-width: 0;
      text-align: left;
   }

   .user-form { width: min-content; }

   .user-form > label > input {
     margin-left: 0;
   }

   .user-form input[type="submit"] {
      margin: 0 auto;
   }
   
}