<header class="category-filters r-panel top">
  <h1>Browse All Goals</h1>
  <ul class="filters">
  <% %w[Work Family Health Hobbies Study Travel Relationships].each do |category| %>
    <li <%= "class=active-filter" if category == @category %>>
      <%= link_to GoalsHelper::CATEGORY_ICONS[category.downcase].html_safe +
        "<span class=\"category-name\">#{category}</span>".html_safe, 
        goals_url(category: category) %>
    </li>
  <% end %>
  </ul>
  <%= link_to("clear filter", goals_url, class: "clear-filter") if @category %>
</header>

<section class="other-goals">
  <% @goals.each do |goal| %>
    <%= render "other_user_goal", 
    goal: goal, 
    index_goal: true,
    up_votes_count: goal.up_votes_count %>
  <% end %>
</section>

