<h1>Goal Details</h1>
<%= render "index_goal", 
   goal: @goal, 
   up_votes_count: @goal.up_votes.count,
   index_goal: false,
   current_user_goal: false %>
<% if @goal.belongs_to?(current_user) %>
   <div class="goal-show-controls">
      <%= button_to "Update Goal", edit_goal_url(@goal), method: "get" %>
      <%= button_to "Delete Goal", goal_url(@goal), method: "delete" %>
   </div>
<% end %>

<%= render "comments/comments", target: @goal %>
